<div class="main users-show">
  <div class="container">
  　<h2>ユーザ一詳細</h2>
    <div class="users-show-item">
      <p>
        <%= @user.name %>
      </p>
    </div>

    <div class="edit-link">
      <% if @user.id == @current_user.id %> <!-- 詳細ページのユーザー(id)とログインしている現在のユーザー(id)が等しい場合は編集ページに遷移できる -->
        <%= link_to("編集する", edit_user_path) %> <!-- link_to("編集する", "/users/#{@user.id}/edit") と同じこと -->
      <% end %>
    </div>
  </div>
</div>