<div class="about-main">
  <div class="about-message">
    <h2>自由にrailsを勉強する場とは</h2>
    <p>学習したことを1つの作品を作りながらアウトプットする場です。<br>
      まずは簡単なブログサイトを目標に、railsのmvcの流れと基本の７アクションをマスターしていきます。

    </p>
    
    <p> 
      その後、付加価値としてdeviceやransackなどの業務で必要になるであろうgemの知識や<br>
      非同期処理・アソシエーション・rubyで苦手としてる内容などを学習し、<br>
      この場で自由にアウトプットし必要であればレビューを頂くなど業務で通用するrailsの素養をつける場です。
    </p>

    <div class="top-link">
      <%= link_to 'TOPページへ戻る', '/' %>
    </div>
  </div>
</div>