<div class="top-main">
  <div class="top-message">
    <h2>自由にrailsを勉強する場</h2>
    <p>口ではなんでも言える。ひとまず手を動かそう</p>
    
    <div class="about-link">
      <%= link_to '詳しくはこちら＝＞', '/about' %>
    </div>
  </div>
</div>