<div class="main posts-show">
  <div class="container">
  <h2>投稿詳細</h2>
    <div class="posts-show-item">
      <p>
        <%= @post.content %>
      </p>
      <div class="post-time">
        <!-- Time::strftimeメソッドを使用し「UTC:時差」を消して見栄えをよくしている -->
        <%= @post.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %>
      </div>
    </div>

    <div class="edit-link">
      <%= link_to("編集する", "/posts/#{@post.id}/edit") %>
    </div>

    <div class="destroy-link">
      <%= link_to("削除する", "/posts/#{@post.id}/destroy", {method: "delete"}) %>
    </div>
  </div>
</div>
